GRPC_PORT=50051
HOLOSCAN_HOST=127.0.0.1
HOLOSCAN_HEALTH_PORT=8556
HOLOSCAN_COMMAND_PORT=8557
NATS_URL=nats://127.0.0.1:4222
HEALTH_CHECK_INTERVAL_MS=2000
START_EXAM_TIMEOUT_MS=5000
COMMAND_TIMEOUT_MS=3000
LOG_LEVEL=info
